<html>
    <head>
        <title>Program 11</title>
        <script src="angular.js"></script>
    </head>
    <body ng-app="myApp">
        <h2>Convert Student Details to uppercase</h2>
        <div ng-controller="myCntrl">
            <input type="button" value="Upper" ng-click="convertToUpperCase()" />&emsp;
            <input type="button" value="Lower" ng-click="convertToLowerCase()" /><br /><br />

            <table border="1">
                <tr>
                    <th>Sl#</th>
                    <th>Name</th>
                </tr>
                <tr ng-repeat="student in studentDetails">
                    <td>{{$index+1}}</td>
                    <td ng-show="to_upper">{{student|uppercase}}</td>
                    <td ng-show="to_lower">{{student|lowercase}}</td>
                </tr>
            </table>
        </div>
    </body>
</html>

<script>
    var a = angular.module("myApp", []);
    a.controller("myCntrl", function($scope) {
        $scope.studentDetails = ["Abhishek", "Achyuth", "Aditya", "Avinash", "Bhaskar", "Chetan", "Peter"];
        $scope.to_upper = true;
        $scope.to_lower = false;

        $scope.convertToUpperCase = function () {
            $scope.to_upper = true;
            $scope.to_lower = false;
        }
        $scope.convertToLowerCase = function () {
            $scope.to_upper = false;
            $scope.to_lower = true;
        }
    });
</script>